/* Roots */
$root: 14px;
$scale: 1.2;

/* Fonts */
$font-size-root: $root;
$font-family-heading: 'Roboto Slab', serif;
$font-family-body: 'Open Sans', sans-serif;
$font-family-special: 'Sue Ellen Francisco', cursive;

/* Colors */
$pomegranate: #e8500e;
$white: #fff;
$mercury: #e6e6e6;
$whisper: #f4f3f9;
$cerise-red: #db304c;
$mirage: #121924;
$mako: #414551;

$color-primary: $pomegranate;
$color-secondary: $white;
$color-border: $mercury;
$color-text: $mako;
$color-2: $whisper;
$color-3: $cerise-red;
$color-4: $mirage;

/* Media queries */
