extends ../layouts/patterns-library

block content
  h1 Buttons

  p Default
  p
    a.btn(href="#") Cancel
  p
    input.btn(type="button", value="Cancel")
  p
    button.btn Cancel

  p Primary

  p
    button.btn.btn--primary Buy now

  p Special

  p
    button.btn.btn--special Order now
