extends ../layouts/patterns-library

block content
  h1 Buttons

  h3 Default

  p
    a.btn(href="#") Cancel
    input.btn(type="button", value="Cancel")
    button.btn Cancel

  h3 Primary

  p
    button.btn.btn--primary Buy now

  h3 Special

  p
    button.btn.btn--special Order now
