extends ../layouts/patterns-library

block content
  .row
    .small-12.column
      h1 Media

  .row
    - var i = 1
    while i < 3
      .small-6.columns
        .media
          .media__section
            img.thumbnail(src="http://placehold.it/100x100")
          .media__section
            a.media__title(href="#") Thai Restaurant Hotpot #{i++}
            .txt-muted.mbmd Burgers, American, Sandwiches, Fast Food, BBQ
            .media__meta
              .txt-muted.mrmd
                i.fa.fa-check-circle
                |  Min $10,00
              .txt-muted.mrmd
                i.fa.fa-motorcycle
                |  30 mins
              div
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-o
                span.txt-muted  (24)
