extends ../layouts/patterns-library

block content
  h1 I love this app, I couldn’t be without it now.
  h2 I love this app, I couldn’t be without it now.
  h3 I love this app, I couldn’t be without it now.
  h4 I love this app, I couldn’t be without it now.
  h5 I love this app, I couldn’t be without it now.
  h6 I love this app, I couldn’t be without it now.

  p
    | This app does everything you could possibly want it to do and not only that, it is beautifully designed and extremely intuitive to use. Download it from the App Store for FREE if you don’t mind some adverts popping up or if you prefer an ad-free experience then you can down load the ad-free version for 99p.
