@b nav {
  @e list {
    padding: 0;
    margin: 0;

    text-align: right;
  }

  @e item {
    display: inline-block;

    list-style: none;

    &:not(:last-child) {
      margin-right: $space-lg;
    }
  }

  @e link {
    font-weight: 700;
    color: $color-secondary;
    text-transform: uppercase;

    &.is-active,
    &:hover {
      color: $color-primary;
    }
  }
}

@b nav-v {
  padding: 0;
  margin: 0;

  @e item {
    list-style: none;

    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
  }

  @e link {
    display: block;
    padding: $space-md;

    &:hover {
      background: $color-border;
    }
  }
}
