nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link.active(href="#") How it works
    li.nav__item
      a.nav__link.active(href="#") Testimonials
    li.nav__item
      a.nav__link.active(href="#") Pricing
    li.nav__item
      a.nav__link.active(href="#") Cart
    li.nav__item
      a.nav__link.active(href="#"): i.fa.fa-shopping-cart
