extends layouts/default

block content
  section.hero
    .row
      .small-12.column
        .hero__content
          h2.hero__title Order Delivery & Take-out
          p.hero__description Find restaurant, specials, and coupons for free

          form.form.mblg(action="#")
            .row
              .small-12.medium-6.medium-offset-3.columns
                .form__group
                  input.form__control(type="search", placeholder="Rose street, New York")
            .row
              .small-12.medium-6.medium-offset-3.columns
                button.btn.btn--primary.btn--block(type="submit")
                  | Find restaurant
                  |  <i class="fa fa-search"></i>

  .panel
    .row
      .small-12.column
        .txt-center
          | Found 365 restaurants in New York - <a href="#">Change Address</a>

  section.well
    .row.mbmd
      .small-12
        h2.txt-center Popular this month in New York
        p.txt-center
          | The easiest way to your favourite food

    .row
      - var i = 1
      while i < 4
        .medium-4.columns
          figure.card
            a.card__thumbnail(href="#")
              img.card__img(src="http://placehold.it/400x300")
              .card__thumbnail__meta
                div
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-o
                .txt-color-revert.txt-uppercase.txt-small 198 reviews

              .card__thumbnail__addon
                .sticker 1655 m
              .card__thumbnail__zz

            figcaption.card__content
              h3: a.card__title(href="#") The South's best fried chicken
              p Fried Chicken with cheese #{i++}

              .card__content__meta
                .txt-large.txt-xbold $ 18,49
                button.btn.btn--special Order Now

            .card__meta
              .card__meta__left
                .media.media--2
                  .media__section
                    img.thumbnail(src="http://placehold.it/50x50")
                  .media__section
                    .mbxs.txt-bold Chicken restaurant
                    .txt-muted 68 5th Avenue New York

              button(role="button").card__meta__right
                i.fa.fa-heart-o
                |  12

  section.well
    .row.mbmd
      .small-12
        h2.txt-center Featured restaurants

        ul.list-inline.txt-center
          li: a(href="#") Grill
          li: a(href="#") Pizza
          li: a(href="#") Pasta
          li: a(href="#") Thai Food
          li: a(href="#") Fish

    .row
      - var i = 1
      while i < 7
        .small-6.columns
          .media.mbmd
            a.media__section(href="#")
              img.thumbnail(src="http://placehold.it/100x100")
            .media__section
              a.media__title(href="#") Thai Restaurant Hotpot #{i++}
              .txt-muted.mbmd Burgers, American, Sandwiches, Fast Food, BBQ
              .media__meta
                .txt-muted.mrmd
                  i.fa.fa-check-circle
                  |  Min $10,00
                .txt-muted.mrmd
                  i.fa.fa-motorcycle
                  |  30 mins
                div
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-o
                  span.txt-muted  (24)
